

/* Definir estilos de tipografía globalmente */
.landing {
  font-family: 'Playwrite FR Moderne', sans-serif; 
  
}



.container{
    text-align: center;
    margin-top: 20%;
    
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */


}