
<ion-content class="landing" [fullscreen]="true" style="align-items: center;">
  <div class="container">
    <div id="lottie-animation" style="width: 345px; height: 345px; top: 50px; left: 55px; background-color: none; text-align: center;
    margin-top: 20%; justify-content: center; align-items: center;" viewBox="0 0 300 300"></div>
    <br>
    <ion-title><b>Comienza a mejorar la <br> salud de tus cultivos</b></ion-title>
  </div>
  

  
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>