

/* Definir estilos de tipografía globalmente */
.landing {
  font-family: 'Playwrite FR Moderne', sans-serif;
  text-align: center;
  align-items: center;
  
}



.container{
  
    margin-top: 20%;

}