
<ion-content class="landing" [fullscreen]="true">
  <div class="container" style="text-align: center;">
    <div id="lottie-animation" style="width: 345px; height: 345px; background-color: none;
    margin-top: 20%;"></div>
    <br>
    <ion-title><b>Comienza a mejorar la <br> salud de tus cultivos</b></ion-title>
  </div>
  

  
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>