<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="tittle"><b>Código enviado <br> correctamente</b></ion-title>
    <p class="subTittle">Hemos enviado un codigo para que recuperes tu <br> contraseña. Verifica la carpeta de SPAM. <br>
      <p>Presiona el boton para regresar al inicio de sesión</p>

    <div class="image" style="height: 300px; width: 300px;">

      <img src="assets/images/undraw_inbox_cleanup_re_jcbh.svg" alt="" style="font-size: medium;">
      
  
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
  
</ion-content>
