<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="tittle"><b>BIENVENIDO!</b></ion-title>
    <p class="subTittle">Ingresa tus datos para crear tu cuenta</p>
  </div>

    <div class="ion-padding">
      <ion-item class="ionItem">
        <ion-input class="input" placeholder="Nombre completo" type="email" name="nombrecompleto"  [(ngModel)]="credentials.nombrecompleto" ></ion-input>
        <ion-icon name="person"></ion-icon>
      </ion-item>
      <ion-item class="ionItem">
        <ion-input class="input" placeholder="Correo electrónico" type="email" name="email" [(ngModel)]="credentials.email"></ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>
      <ion-item class="ionItem">
        <ion-input class="input" placeholder="Usuario (máximo 12 caracteres)" maxlength="12" name="user" [(ngModel)]="credentials.username"></ion-input>
        <ion-icon name="id-card"></ion-icon>
      </ion-item>
      <ion-item class="ionItem">
      <ion-input class="input" placeholder="Contraseña (entre 8 & 20 caracteres)" type="password" minlength="8" maxlength="20" name="pass1" [(ngModel)]="credentials.password"></ion-input>
        <ion-icon name="lock-closed"></ion-icon>
      </ion-item>

      <ion-item class="ionItem">
        <ion-input class="input" placeholder="Confirmar contrasena" type="password" minlength="8" maxlength="20" name="pass2" [(ngModel)]="credentials.confirmPassword"></ion-input>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-item>
      
        <ion-button expand="block" style="width: auto;" type="submit" (click) = 'signup()'>Registrate</ion-button>
       
      <div class="usuarionuevo">
       <p>¿Ya tienes cuenta? <a [routerLink]="['/login']"> Inicia sesión ahora.</a></p> 
      </div>
      <div class="google"> <p class="subTittle">Inicia sesión con google</p>
        <a [routerLink]="['/inicio-google']"><ion-icon name="logo-google" style="font-size: 45px;"></ion-icon></a>
      </div>
    </div>


</ion-content>