
<ion-content [fullscreen]="true">
  <h1 style="text-align: center;"><b style="color: rgb(131, 131, 131);">Campos de cultivo</b></h1>
  <ion-card>
    <ion-card-header>
      <img alt="Silhouette of mountains" src="assets/images/undraw_Blooming_re_2kc4.png" style="max-height: 650px; max-width: 650px;" />
      <ion-card-title>Campo 1 - Tomates</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content >
      <!-- Humedad -->
      <ion-icon name="water-outline"></ion-icon>
      <div *ngIf="Humedad !== null">
        <b>Humedad: </b> {{ Humedad }}
      </div>
      <br>
      <!-- Temperatura -->
      <ion-icon name="thermometer-outline"></ion-icon>
      <div *ngIf="Temperatura !== null">
        <b>Temperatura: </b> {{ Temperatura }}
      </div>
    </ion-card-content>
   <!--Regar ahora-->
    <ion-button fill="clear">Regar ahora</ion-button>
    <!--cambiar hora de riego-->
    <ion-button fill="clear">Cambiar hora de riego</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img alt="Silhouette of mountains" src="assets/images/undraw_Blooming_re_2kc4.png" style="max-height: 650px; max-width: 650px;" />
      <ion-card-title>Campo 2 - Lechugas</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="water-outline"></ion-icon>
      <div *ngIf="Humedad !== null">
        <b>Humedad: </b> {{ Humedad }}
      </div>
      <br>
      <!-- Temperatura -->
      <ion-icon name="thermometer-outline"></ion-icon>
      <div *ngIf="Temperatura !== null">
        <b>Temperatura: </b> {{ Temperatura }}
      </div>
    </ion-card-content>
   <!--Regar ahora-->
    <ion-button fill="clear">Regar ahora</ion-button>
    <!--cambiar hora de riego-->
    <ion-button fill="clear">Cambiar hora de riego</ion-button>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 40px;">
    <ion-fab-button [routerLink]="['/addground']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    </ion-content>
