<ion-content [fullscreen]="true">
  <ion-card>
    <h1 style="text-align: center;"><b>Perfil de usuario</b></h1>
    <div style="align-items: center; text-align: center;">
      <img *ngIf="profilePic" [src]="profilePic" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover;" />
      <img *ngIf="!profilePic" src="assets/images/undraw_Pic_profile_re_7g2h.png" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover;" />
    </div>
    <ion-card-header>
      <form action="" style="text-align: center;">
        <input type="file" (change)="onFileChange($event)" />
        <ion-button color="danger">Eliminar foto</ion-button>
        
      </form>

      <div class="ion-padding">
        <h3 style="text-align: center;"><b>Información personal</b></h3>
        <form action="">
          <ion-item class="ionItem">
            <ion-input placeholder="Nombre de usuario" class="input" readonly></ion-input>
            <ion-icon name="person"></ion-icon>
          </ion-item>
          <ion-item class="ionItem">
            <ion-input placeholder="ID" class="input" readonly></ion-input>
            <ion-icon name="id-card"></ion-icon>
          </ion-item>
          <ion-item class="ionItem">
            <ion-input placeholder="Email" class="input" type="email" readonly></ion-input>
            <ion-icon name="mail-sharp"></ion-icon>
          </ion-item>
        </form>
        <form action="">
          <h3 style="text-align: center;"><b>Cambio de contraseña</b></h3>
          <ion-item class="ionItem">
            <ion-input placeholder="Contraseña anterior" class="input" type="password"></ion-input>
            <ion-icon name="lock-closed"></ion-icon>
          </ion-item>
          <ion-item class="ionItem">
            <ion-input placeholder="Contraseña nueva" class="input" type="password"></ion-input>
            <ion-icon name="lock-closed"></ion-icon>
          </ion-item>
          <ion-button>Cambiar contraseña</ion-button>
        </form>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
