<ion-content [fullscreen]="true">
  <ion-card>
    <!-- Imagen de perfil -->
    <img alt="Porfile picture default" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover; left: 350px;" src="assets/images/undraw_Pic_profile_re_7g2h.png" />

    <ion-card-header>
      <form action="">
        <ion-button color="success">
          Cambiar foto de perfil
        </ion-button>
        <!-- Input oculto para seleccionar archivos -->
       
        <ion-button id="present-alert" color="danger">Eliminar foto</ion-button>
        <ion-alert
          trigger="present-alert"
          header="Alerta!"
          [buttons]="alertButtons"
          (didDismiss)="setResult($event)"
        > ¿Estas seguro de eliminar la foto?</ion-alert>
      </form>
      <!-- Botón para cambiar foto de perfil -->
     

      <!-- Formulario con campos no editables -->
      
        <div class="ion-padding">
          <h2><b>Información general del usuario</b></h2>
          <!-- Campo de nombre de usuario -->
           <form action="">
            <ion-item class="ionItem">
              <ion-input placeholder="Usuario" class="input" readonly></ion-input>
              <ion-icon name="person-outline"></ion-icon>
            </ion-item>
            <ion-item class="ionItem">
              <ion-input placeholder="Correo electrónico" class="input" type="email" readonly></ion-input>
              <ion-icon name="mail-sharp"></ion-icon>
            </ion-item>
           </form>
           <form action="">
            <ion-card-content>
              Cambio de contraseña
             </ion-card-content>
            <ion-item class="ionItem">
              <ion-input placeholder="Contraseña anterior" class="input" type="password"></ion-input>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-item>
            <ion-item class="ionItem">
              <ion-input placeholder="Contraseña nueva" class="input" type="password"></ion-input>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-item>
            <ion-button color="">
              Cambiar contraseña
            </ion-button>
          </form>
        </div>
    </ion-card-header>
  </ion-card>
</ion-content>
