
.header{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  
    .tittle{
      font-size: 2rem;
    }
    .image{
        align-items: center;
        display: flex;
        justify-content: center;
         align-items: center;
         padding-left: 2px;
       
        
      }
  
  }

  